* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

.elem {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    mix-blend-mode: difference;
    position: relative; /* Ensure relative positioning for absolute children */
}

.elem h1 {
    height: 7vw;
}

.elem img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    transition: all linear 0.4s;
    opacity: 0;
    position: absolute; /* Needed for dynamic positioning */
    pointer-events: none; /* Prevent mouse events on the image itself */
}
